<!DOCTYPE html>
<html>
    <head lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta charset="UTF-8">
        <title>Send a message</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>
        <header>
            <div class="header-left">
                <button class="material-symbols-outlined" id="more_vert">
                    more_vert
                </button>
            </div>
            <div class="header-center">

                <div class="user-info">
                    <div class="username">Messenger</div>
                    
                </div>

            </div>
            <div class="header-right">
                <button class="material-symbols-outlined" id="loupe">
                    search
                </button>

            </div>
        </header>
        <div class="chats">
           </div>

        <div id="chat-modal" class="modal" style="display: none;">
            <div class="modal-content">
                <span id="close-modal" class="close">&times;</span>
                <h2>Создать новый чат</h2>
                <label for="chat-name">Название чата:</label>
                <input type="text" id="chat-name" required>

                <label for="participant-name">Добавить собеседника:</label>
                <input type="text" id="participant-name" required>

                <label for="chat-image">Ссылка на картинку:</label>
                <input type="text" id="chat-image" required>
    
                <button id="create-chat">Создать чат</button>
            </div>
        </div>
    

        <div class="create-button">
            <button class="material-symbols-outlined" id="add-button">
                add
            </button>
        </div>
        
    </body>
</html>
