header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #8E24AA; 
    border-bottom: 1px solid #ccc; 
    color: #fff;
    height: 90px;
}
#arrow_left_alt{
    text-decoration: none;
}   