html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 2vw;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.messages {
    color: #000000;
    margin: 90px 0 0 0;
    padding: 4px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.message-item {
    padding: 5px 25px 30px 10px;
    margin: 10px;
    border: solid rgb(161, 160, 160) 0.5px;
    border-radius: 10px;
    max-width: 80%;
    overflow-wrap: break-word;
    line-height: 1.3;
    position: relative;
    min-width: 150px;
    animation: bounceIn 0.5s ease;
}

em {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.message-item.user {
    background-color: #ffffff;
    align-self: flex-start;
    border-radius: 10px 10px 10px 0 ;
}

.message-item.user2 {
    background-color: #e2ecfc;
    margin-left: auto; 
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
}


input[type=submit] {
    visibility: collapse;
}

input {
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 2.7vh;
    opacity: 70%;
    padding: 0px 80px 0px 15px;
    position: relative;
    justify-content: center;
}
.input-div {
    display: flex;
    flex-direction: row;
}


.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
}


.exit-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.avatar {
    width: 6vh; 
    height: 6vh;
    border-radius: 50%; 
    overflow: hidden; 
    margin-right: 10px; 
}

.avatar img {
    width: 100%;
    height: auto;
}

.user-info {
    display: flex;
    flex-direction: column; 

}

.username {
    font-weight: bold;
    font-size: 2vh;
    padding-bottom: 0.9vh; 
}

.last-login {
    font-size: 1.4vh;
    opacity: 50%; 
}

.header-right {
    display: flex;
    align-items: center;
}

.search-button, .options-button {
    margin-left: 15px; 
    cursor: pointer;
    font-size: 16px;
}

#loupe:hover {
    animation: pulse 2s infinite;
}

#enter-arrow {
    position: absolute; 
    right: 2vh;
    border: none; 
    background: transparent;
    cursor: pointer; 
    bottom: 1vh;
    font-size: 5vh;
    opacity: 60%;
}

#enter-arrow {
    color: #8E24AA;
}

#loupe {
    right: 2vh;
    border: none; 
    background: transparent;
    cursor: pointer; 
    bottom: 1vh;
    font-size: 3.5vh;
    color: #ffffff;
}

#loupe:hover {
    animation: pulse 2s infinite;
}

#vert {
    right: 2vh;
    border: none; 
    background: transparent;
    cursor: pointer; 
    bottom: 1vh;
    font-size: 3.5vh;
    color: #ffffff;
    margin:0 0.7vh 0 1vh;
}

#vert:hover {
    animation: pulse 2s infinite;
}

#arrow_left_alt {
    right: 2vh;
    border: none; 
    background: transparent;
    cursor: pointer; 
    bottom: 1vh;
    font-size: 3.5vh;
    color: #ffffff;
    margin:0 0.7vh 0 1vh;
}

#arrow_left_alt:hover {
    animation: pulse 2s infinite;
}

.timestamp {
    font-size: 14px;
}



@media (max-width: 600px) {
    .messages{
        font-size: 14px;
    }
    em {
        font-size: 60px;
    }
    .timestamp {
        font-size: 12px;
    }
}


@keyframes bounceIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }